<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jardines de Velez</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" href="../img/favicon.png">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="contenedor">			
			<a href="../index.html">
				<img class="logo" src="../img/logo.svg" alt="barrio cerrado">
			</a>
			<nav>
				<a href="../index.html">Inicio</a>
				<a href="../views/casas.html">Casas</a>
				<a href="../views/terrenos.html">Terrenos</a>
				<a href="../views/departamentos.html">Departamentos</a>
				<a href="../index.html#contacto">Contacto</a>
			</nav>
		</div>
	</header>
	<main>
			<h2 class="sub-titulo1">Diferentes Tipologias</h2>
			
		<div class="section">
			<div class="box">
				<img src="../img/casa4.jpg" alt="">
				<div class="hover">
					<h6>Jardines</h6>
				</div>
			</div>
			<div class="box">
				<img src="../img/living2.jpg" alt="">
				<div class="hover">
					<h6>De</h6>
				</div>
			</div>
			<div class="box">
				<img src="../img/casa3.jpg" alt="">
				<div class="hover">
					<h6>Velez</h6>
				</div>
			</div>
		</div>
		<h4 class="sub-titulo">
			<p>Desarrollos inmobiliarios, integrados y modernos, aportando valor urbanístico a las ciudades.</p>
			<br>
			<p>Como empresa buscamos poner en relación las distintas acciones de intervención sobre un territorio para la creación de condiciones ideales para el desarrollo urbano</p>
  		</h4>
		
	</main>
		
		
		<footer class="footer">

		
		<h3 class="info">
		<p>Av. Velez Sarsfield 9100</p>
		<p>Tel de contacto 0351-153445566</p>
		<p>info@jardinesdevelez.com</p>
		</h3>
		
		
	<div class="redes">
		<a href="https://www.facebook.com"target="_blank">
			<img src="../img/fb.jpg" alt="logo de facebook">
	</a>
	<a href="https://www.instagram.com" target="_blank">
			<img src="../img/ig.jpg" alt="logo de instagram">
	</a>
	</div>

</footer>
</div>
</body>
</html>
	