<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jardines de Velez</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="contenedor">			
			<a href="../index.html">
				<img class="logo" src="../img/logo.svg" alt="barrio cerrado">
			</a>

				<nav>
					<a href="../views/inicio.html">Inicio</a>
					<a href="views/casas.html">Casas</a>
					
					<a href="views/departamentos.html">Departamentos</a>
					<a href="views/contacto.html">Contacto</a>
				</nav>
		</div>

		
</body>
</html>
